# Node build artifacts
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# testing
/coverage

# production
/react-ui/build
/react-ui/dist
