.app-header {
	text-align: center;
	background-color: #282c34;
	font-size: calc(10px + 1vmin);
	color: white;
	padding: 10px;
}

.app-main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.section {
	flex: 0 1 100%;
	padding: 0 40px;
	margin-top: 40px;
}

.section:last-child {
	border-right: none;
}

@media ( min-width: 1024px ) {
	.section {
		flex-basis: 50%;
	}
}
